
.exerciseBlock {
  padding: 10px;
  margin: 10px;
  color: #20bf6b;
  border: 1px solid #f6b93b;
 
}

.container{
  display: flex;
}

#friendInfo{
  width: 50%;
  list-style: none;
  margin: 10px 0px;
  padding: 10px 0px;
}

#friendInfo li{
  background: #f4f4f4;
  margin-bottom: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: black;
  font-size: large;
  display: flex;
}

#jokeInfo p{
  background: #f4f4f4;
  margin: 10px 0 10px 0;
  padding: 15px 10px;
  cursor: pointer;
  color: black;
  font-size: large;
}

#friendInfo li span{
  width: 150px;
  padding-right: 100px;
}

.friendImage{
  width: 50%;
  padding: 0 10px;
  margin: 0 10px;
  margin-bottom: 5px;
  width: 225px;
  height: 225px;
  align-self: center;
  border-radius: 10%;
}

#dogBox{
  display: flex;
  flex-wrap: wrap; 
}

.dogImage{
  width: 390px;
  height: 390px;
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
}

.btn {
  width: 200px;
  height: 50px;
  color: #20bf6b !important;
  text-transform: uppercase;
  background: #ffffff;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

#loading{
  color: black;
  font-size: large;
  padding-top: 5px;
}

#error{
  color: red;
  font-size: large;
  padding-top: 5px;
}

.initialDog{
  color: black;
  font-size: large;
  padding-top: 5px;
}