.hobby {
  background: #f4f4f4;
  list-style: none;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: black;
}

.exerciseBlock {
  padding: 10px;
  margin: 10px;
  color: #20bf6b;
  border: 1px solid #f6b93b;
}

.guaranteeImage {
  width: 90px;
  height: 70px;
}

.guaranteeItem {
  display: flex;
}

.guarantee {
  margin: 10px;
  padding: 10px;
  color: black;
  width: 30%;
  text-align: center;
}

.btn {
  width: 200px;
  height: 50px;
  color: #20bf6b !important;
  text-transform: uppercase;
  background: #ffffff;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

.counter {
  margin: 10px;
  padding: 10px;
  color: black;
  text-align: center;
}
