.cityList {
  font-size: large;
}

.city {
  width: 500px;
  margin: 70px auto;
  padding: 0px 50px;
  border: 1px solid black;
}

#headerCityPage {
  padding-top: 20px;
  text-align: center;
}

.city h3 {
  margin-top: -20px;
  font-weight: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.city p {
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
